* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
:root {
  --primary-color: #4f46e5;
  --seconndary-color: #4f46e5;
  --text-color: #1f2937;
  --gradient-start: #4f46e5;
  --gradient-end: #7c3aed;
}
